@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-block-start: 80px;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom, rgb(0, 0, 0), #007973, #0077ff, #0077ff);
}

a {
    text-decoration: none;
    color: #fff;
}


/* tentativa de responsividade */


/* Dispositivos pequenos */

@media only screen and (min-width: 600px) {}


/* Dispositivos médios */

@media only screen and (min-width: 768px) {
    .nav li {
        font-size: 20px;
    }
    .home h1,
    .fatec h1,
    .curso h1,
    .carreiras h1,
    .disciplinas h1,
    .alunos h1 {
        font-size: 30px;
    }
    .card_container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .card {
        width: 250px;
        height: 300px;
    }
    .card img {
        height: 180px;
        width: 200px;
    }
    .card h2 {
        font-size: 20px;
    }
    .fatecimg img {
        width: 100%;
        max-width: 300px;
        float: left;
    }
    .fatecimg {
        margin: auto;
        text-align: center;
    }
    .fatecimg img {
        margin-bottom: 20px;
    }
}


/* Dispositivos grandes */

@media only screen and (min-width: 1200px) {
    .card_container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}


/*ESTILO NAV SITE*/

header {
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    z-index: 10;
}

.nav {
    background-color: black;
    list-style-type: none;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.nav li {
    display: inline-block;
    font-size: 25px;
    padding: 15px;
    padding-top: 15px;
}

.nav li a {
    color: #fff;
}

.nav li a:hover {
    transform: scale(1.2);
    transition-duration: 100ms;
    color: #0042ab;
    text-decoration: none;
}

.dsmnav,
.fatecnav {
    height: 50px;
    width: auto;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 10px 20px;
}

.dsmnav {
    float: left;
}

.fatecnav {
    float: right;
}

.container {
    width: 80%;
    margin: auto;
}

.homecontainer {
    width: 80%;
    margin: auto;
}

.chart {
    float: left;
    width: 2000px;
    height: auto;
    margin: -50px -50px 0px -50px;
}

.hometxt h1,
.hometxt h2 {
    color: #fff;
    text-align: left;
}

.hometxt h1 {
    font-size: 80px;
    line-height: 50px;
}

.hometxt h2 {
    font-size: 45px;
}

.notebook {
    height: 400px;
    width: auto;
    float: right;
    margin-right: 10px;
    shape-outside: circle();
    border-radius: 50%;
}

.home,
.fatec,
.curso,
.carreiras,
.disciplinas,
.alunos {
    padding: 50px;
    height: auto;
}

.home {
    background-image: linear-gradient(to right, #000, #222, #222, #000);
    padding-top: 130px;
    overflow: hidden;
}

.fatec,
.disciplinas,
.alunos,
.curso,
.carreiras {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-image-source: linear-gradient(to bottom, #eeeeee, #111111);
}

.fatec h1,
.curso h1,
.carreiras h1,
.disciplinas h1,
.alunos h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    color: #fff;
}


/*estilo home*/


/*estilo fatec*/

.fatectxt {
    margin-left: 20px;
    color: white;
    font-size: 25px;
    text-align: justify;
    clear: both;
    overflow: hidden;
}

.fatecimg {
    float: left;
    width: 600px;
    height: auto;
    margin-right: 0px 25px 0px 25px;
    border: 5px solid #fff;
    border-radius: 10px;
}

.caixa {
    background-image: linear-gradient(to right, #000, #222, #222, #000);
    width: 250px;
    padding: 4px;
    text-align: center;
    font-size: 25px;
    border-radius: 20px;
    font-weight: 600;
    margin: 20px;
}

.caixa:hover {
    transform: scale(1.1);
    transition: 0.3s;
    color: #fff;
}


/*estilo curso*/

.dsmimg {
    width: 400px;
    height: auto;
    float: right;
    shape-outside: circle();
    margin-left: 50px;
    border-radius: 100%;
}

.dsmtxt {
    color: white;
    font-size: 25px;
    text-align: justify;
    clear: both;
    overflow: hidden;
}


/*estilo carreira*/

.mercadotxt {
    color: white;
    font-size: 25px;
    text-align: justify;
}

.mercadoimg {
    width: 80%;
    height: auto;
    margin: 20px 0 0 10%;
}


/*estilo disciplinas*/


/* começo flip card */

.card_container {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 400px);
    gap: 50px;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    height: 400px;
    perspective: 1000px;
}

.card img {
    height: 250px;
    width: 310px;
    margin-left: 20px;
}

.flip {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: .5s;
}

.card:hover .flip {
    transform: rotateY(180deg);
}

.frente,
.tras {
    background: url(/img/tilojo.png);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    color: #fff;
}

.frente {
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fa-solid {
    padding-top: 35px;
}

.tras {
    transform: rotateY(180deg);
}

.card h2 {
    font-size: 22px;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.tras h2 {
    text-align: left;
    font-weight: 300;
}


/* fim flip card */


/*estilo alunos*/

.alunos {
    /* background-image: linear-gradient(to right, rgb(1, 34, 87), #0042ab, #0042ab, rgb(1, 34, 87)); */
    padding: 50px;
}

.alunos h1 {
    color: #fff;
    text-align: center;
}

.menuFeedback {
    display: flex;
    justify-content: center;
}

.feedback {
    display: flex;
    /* border: 6px solid #fff; */
    border-radius: 18px;
    width: 600px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    background:  url(/img/tilojo.png);
    color: #fff;
    font-size: 30px;
    padding: 20px;
}

.feedback textarea {
    margin: 10px;
    height: 150px;
    width: 400px;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    padding: 8px;
    resize: none;
    background-color: #222;
    color: #fff;
}

.avaliacao {
    display: flex;
    justify-content: center;
    width: 400px;
}

.star {
    list-style-type: none;
    cursor: pointer;
    color: #f9ff5a;
    font-size: 90px;
}

.star::before {
    content: "\2605";
}

.star.ativo~.star::before {
    content: "\2606";
}

.avaliacao:hover .star::before {
    content: "\2605";
}

.star:hover~.star::before {
    content: "\2606";
}


/* estilo Integrantes */

.integrantes {
    background: linear-gradient(to bottom, #0077ff, #000);
    color: white;
    padding: 30px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.integrantes-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    margin-bottom: 20px;
}

.dsm-logo {
    width: 120px;
    height: auto;
    transition: transform 0.3s;
}

.dsm-logo:hover {
    transform: scale(1.1);
}

.team-members h3 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 40px;
}

.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.member {
    flex: 1;
    margin: 0 15px;
    text-align: center;
}

.member-img,
.member-caio-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 4px solid #2a018a;
    transition: transform 0.3s;
}

.member-img:hover,
.member-caio-img:hover {
    transform: scale(1.05);
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.social-icon {
    font-size: 24px;
    color: #fff;
    transition: color 0.3s, transform 0.3s;
}

.social-icon:hover {
    color: #4a2bf6;
    transform: scale(1.1);
}

.member p {
    font-size: 14px;
    color: #fff;
    margin-top: 8px;
}

/* Estilos Footer */

.footer {
    background: #000000;
    color: white;
    padding: 40px 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 20px;
}

.footer-logo {
    width: 200px;
    height: auto;
    transition: transform 0.3s;
}

#dsmlogofoot {
    width: 120px;
}

.footer-copy {
    font-size: 14px;
    color: #ffffff;
    margin-top: 20px;
}